.hidden {
    display: none;
}

body {
    background-image: url(../images/background-pattern.svg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

#container {
    height: 1080px;
}

.grid-con { 
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 16px;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 62px;
    padding-right: 62px;
}

h1 {
    grid-column: 1/-1;
    /* text-transform: uppercase; */
    color: #fff;
    background-color: #ffed94;
    color: #6d5f55;
    margin-top: 30px;
    font-size: 60px;
    font-weight: 600;
    padding: 30px;
    text-align: center;
	border-radius: 30px;
    height: 60px;
 }

 h1 span {
    font-weight: 200;
    /* font-style: italic; */
    font-family: 'Noto Serif', serif;
 }

#profile-pic-left {
    grid-column: 3/5;
    grid-row: 2/2;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid 1px;
    justify-self: right;
}

#profile-title-left {
    grid-column: 5/7;
    grid-row: 2/2;
    width: 280px;
    height: 280px;
    border-radius: 30% 5%;
    background-color: #b0ee7e;
    color: #707070;
    justify-self: right;
}

#profile-title-right {
    grid-column: 7/9;
    grid-row: 2/2;
    width: 280px;
    height: 280px;
    border-radius: 5% 30%;
    background-color: #b0ee7e;
    color: #707070;
}

#profile-pic-right {
    grid-column: 9/11;
    grid-row: 2/2;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid 1px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid 1px #ffffff;
}

.lightbox {
    display: none;
}

.lightbox.slide-toggle {
    display: flex;
    height: 500px;
    width: 800px;
    background: rgba(255, 100, 81, 0.8);
    position: fixed;
    justify-self: center;
    align-self: center;
    z-index: 2;
    border-radius: 5%;
 }

 .lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

